#outer{
    margin: 50px;
    height: 180px;
    width: 180px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
}

#inner{
    height: 90px;
    width: 90px;
    background-color: cyan;
}