body{
    height: 100vh;
    width: 100vw;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
    font-size: 18px;
    font-family: sans-serif;
}

#calculator{
    height: 346px;
    width: 326px;
    border: 2px solid lightgray;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1px;
    background-color: #ffffff;
}

#display-container{
    height: 60px;
    width: 100%;
    /* border: 2px solid black; */
    box-sizing: border-box;
}

#display{
    font-size: 2.3rem;
    margin-left: 91%;
    font-weight: 500;
}

.items{
    display: flex;
    justify-content: space-around;
}

.button{
    height: 40px;
    width: 70px;
    border: 2px solid #f9f9f9;
    display: flex;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;
    box-shadow: 0px 0px 1px 1px lightgray;
    margin-bottom: 4px;
    user-select: none;
}